<h2 class="title">
        <img src="img/title.png" alt="">
    </h2>
<div class="container">
    <p>
        2016年7月18日
    </p>
    <p>
        尊贵的客户：
    </p>
    <p>
        <strong>关于：有关香港交易所收市竞价交易时段之安排</strong>
    </p>
</div>
<div class="content">
    <p>谨通知 阁下香港交易所将于2016年7月25日正式推出收市竞价交易时段，证
        <br>券市场及衍生产品市场之收市时间均作出修订。
        <br> 证券市场的正常交易日的收市时间，将由下午4时正改为下午4时
        <br>8分至4时10分之间随时随机收市，半日市的收市时间则由中午12时正改为中午12时8
        <br>分至12时10分之间随时随机收市。
    </p>
    <br>
    <br>
    <br>
    <p>
        衍生产品市场的正常交易日(最后交易日除外)，股票指数期货及期权、货币期货
        <br> 和商品期货的正常交易时段，收市时间将由下午4时15分改为下午4时30
        <br> 分，半日市的收市时间则由中午12时正改为中午12时30分。收市后期货交易
        <br> 时段的开市时间将由下午5时正改为下午5时15分，收市时间则维持不变。有
        <br> 关新收市竞价交易时段之交易时间表可参阅附件。
        <br>
        <br> 如欲了解更多收市竞价交易时段之详情可浏览
        <a href="http://www.hkex.com.hk/cas/tc/index.htm">香港交易所网址。</a>
        <br> 如有任何查询，欢迎致电4006800288 / +852 34180288与本公司之客户服务联络。
        <br>
        <br>
    </p>
    <p style="text-indent: 32px">
        此致
        <br> 国都证券香港有限公司
    </p>
</div>
